#movieCard {
  float: left;
  max-width: 220px;
  max-height: 300px;
  min-width: 220px;
  min-height: 300px;
  padding: 20px;
}

#movieContainer {
  /* width: 800px; */
  /* display: inline-flex; */

  /* justify-content: center; */
  padding: 50px;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  display: flex;
  justify-content: center;
}

#entireContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  overflow: inherit;
}

button {
  color: black;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
