.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2; /* background-color: #FFA500; */
  /* height: 50px; */
}

.footer-links {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

i {
  color: black;
}

.developer {
  padding-right: 20px;
}
