.movieContainer {
  position: relative;
  background-color: white;
  width: 975px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 200px;
  max-height: 400px;
  /* margin-right: 140px; */
  align-self: flex-end;
}

body {
  background-color: rgb(123, 123, 123);
}

#headerImg {
  object-fit: cover;
  object-position: bottom;
  min-width: 975px;
  height: 180px;
  overflow: visible;
}
