.movieContainer {
  position: fixed;
  background-color: white;
  width: 975px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #ebebeb;
  padding-bottom: 75%;
  /* min-height: 1000px; */
}

#cover {
  padding-top: 50px;
  padding-right: 75px;
  display: inline;
  max-width: 200px;
  max-height: 400px;
  /* margin-right: 140px; */
  align-self: flex-end;
}

body {
  /* background-color: rgb(123, 123, 123); */
  padding: 0px;
  margin: 0px;
  font-family: Helvetica, sans-serif;
}

#headerImg {
  object-fit: cover;
  object-position: top;
  min-width: 975px;
  height: 180px;
  overflow: visible;
}

#movieInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  padding-left: 675px;

  margin-top: 0px;
  margin-bottom: 0px;

  overflow: auto;
}

#audioPlayer {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding-left: 50px;
  padding-top: 180px;
}

#createQuote {
  padding-top: 20px;
  padding-left: 90px;
}

span {
  font-style: italic;
}

#quotesName {
  padding-left: 20px;
}

.playButton {
  display: inline-block;
}

#quoteTitle {
  display: inline-block;
  padding-left: 20px;
}

#h4Title {
  padding-left: 30px;
  font-size: 20px;
  font-weight: 500;
}

.deleteBut {
  background-color: #c60404;
  color: white;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border: 0;
  max-width: 113px;
  padding: 10px;
  border-radius: 11px;
  line-height: 24px;
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  overflow: hidden;
  margin-left: 850px;
}
.editBut {
  background-color: #1208d5;
  color: white;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border: 0;
  max-width: 113px;
  padding: 10px;
  border-radius: 11px;
  line-height: 24px;
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-left: 850px;
}

#title {
  font-weight: bold;
  font-size: 16px;
}

.quoteDel {
  background-color: #c60404;
  color: white;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border: 0;
  max-width: 100px;
  padding: 8px;
  border-radius: 11px;
  line-height: 14px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  margin-left: 10px;
  overflow: hidden;
}

.quoteEdit {
  background-color: #1208d5;
  color: white;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border: 0;
  max-width: 100px;
  padding: 8px;
  margin-left: 10px;
  border-radius: 11px;
  line-height: 14px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  overflow: hidden;
}

#addQuote,
#addQuote:visited {
  text-decoration: none;
  background-color: #757575;
  border: 5px solid #757575;
  border-width: 10px;
  border-radius: 10px;
  color: white;
}

#quoteTitle {
  font-weight: 500;
  font-size: 16px;
}
