* {
  padding-top: 0px;
  margin-top: 0px;
}

nav {
  background-color: white;
  /* display: flex; */
  /* justify-content: center; */
  height: 70px;
}

input {
  height: 20px;
  /* margin-right: 50px; */
}

#navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#logo {
  margin: 0px;
  height: 50px;
  width: 200px;
}

#createLogo {
  margin-top: 10px;
  /* margin-left: 30em;
  padding-right: 50px; */
  height: 40px;
  width: 150px;
}

#ulBad {
  padding: 0px;
}
